[submodule "repositories/argh"]
	path = repositories/argh
	url = ../argh/
[submodule "repositories/pest"]
	path = repositories/pest
	url = ../pest/
[submodule "repositories/libforest"]
	path = repositories/libforest
	url = ../libforest/
[submodule "repositories/libunclassified"]
	path = repositories/libunclassified
	url = ../libunclassified/
